MONOCLOUD_AUTH_TENANT_DOMAIN=
MONOCLOUD_AUTH_CLIENT_ID=
MONOCLOUD_AUTH_CLIENT_SECRET=
MONOCLOUD_AUTH_SCOPES=
MONOCLOUD_AUTH_APP_URL=
MONOCLOUD_AUTH_COOKIE_SECRET=
MONOCLOUD_AUTH_REFETCH_USER_INFO=true
MONOCLOUD_API_KEY=